
/*-----------------------------------
 Font styles                       
-----------------------------------*/
@font-face {
    font-family: "Agency";
    src: url('../font/AGENCYB.eot');
    src: local('../font/AGENCYB'), url('../font/AGENCYB.woff') format('woff'), url('../font/AGENCYB.ttf') format('truetype');
}

/*-----------------------------------*/

/*------------------------------------
  Global CSS
-------------------------------------*/

:root {
    --nav-background: rgba(255,255,255,0.7);
    --red: #b11016;
    --red-transparent: rgba(177, 16, 22, 0.9);
    --red-transparent2: rgba(177, 16, 22, 0.7);
}

body {
    font-family: Agency;
    margin: 0;
    padding: 0;
    
}

.site {
    max-width: 50em;
	margin: 0 auto;
}

/*------------------------------------
   CSS Loader
-------------------------------------*/
/* Center the loader */

/*--------------------------*/

.section_title {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.2em;
    color: var(--red);
    padding: 15px 0;
    background-color: rgba(255,255,255,0.9);
}

p {
    font-family: 'Roboto Condensed';
        
}


.cta-button {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

.btn-primary {
    display: inline-block;
    font-family: Agency;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    background-color: var(--red); /*fall back for Internet Explorer*/
    background-color: var(--red-transparent);
    padding: 22px 30px 22px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 25px 0px rgba(0,0,0,0.5);
    transition: .5s;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #000;
}

.btn-secondary {
    display: inline-block;
    font-family: Agency;
    font-size: 1em;
    text-decoration: none;
    color: #fff;
    background-color: var(--red-transparent);
    padding: 10px 20px;
    margin: 10px;
    border: none;
    text-align: center;
    box-shadow: 0 5px 25px 0px rgba(0,0,0,0.5);
    transition: .4s;
}


.btn-race-info {
    background-color: #fff;
    color: var(--red);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #000;
    color: #fff;
}
/*------------------------------------------*/




/*---------------------------------------------------
 Navigation styles
----------------------------------------------------*/
header {
    background: rgba(0,0,0,0);
    text-align: left;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: var(--nav-background);
}

.logo img {
    max-width: 150px;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #000;
    height: 2px;
    width: 2em;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 10px;
}

.nav-toggle-label span::after {
    top: 10px;
}



nav {
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    background: var(--nav-background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-right: 1em;
}

nav a {
    padding: 0 5px;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover,
nav a:focus,
.active-page {
    background: rgb(226, 18, 18, 0.5);
}

/*
nav>ul>li>a.active-page {
    color: var(--red);
}
*/


.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}


/*---------------------------------------------------
 Hero Section
----------------------------------------------------*/

.masthead {
    height: 100vh;
    background: url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    
}

.masthead h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin-left: 10px;
    padding: 5px;
    color: var(--red);
    background-color: rgba(255,255,255,0.7);
    font-size: 1.8em;
    letter-spacing: -2px;
    line-height: 0.9em;
    position: absolute;
    bottom: 10%;
    z-index: 1;
}

.masthead h1 span {
    color: #000;
}

.masthead img {
    z-index: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}


/*---------------------------------------------------
 Upcoming races Section
----------------------------------------------------*/
.upcoming-races, .past-races {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(../images/bg-blank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
}

.side-image {
    display: none;
}

.races, .all-races {
    padding: 0 10px;
}
.race-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: inline-block;
    margin: 10px 0;
/*    text-align: center;*/
}

.race-card {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    
}

.race-card:hover img{
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.5);
    transform: scale(1.02);
    transition: 0.2s;
}

.race-card:hover .overlay {
    transform: scale(1.02);
    transition: 0.2s;
    
}


.overlay {
    position: absolute;
    margin: 12px 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 20%;
}

.overlay-red {
    background-color: rgb(177, 16, 22, 0.6);
}

.overlay-blue {
    background-color: rgb(1, 104, 137, 0.8);
}

.overlay-green {
    background-color: rgb(44, 99, 44, 0.6);
}

.overlay-yellow {
    background-color: rgb(255, 186, 1, 0.8);
}

.overlay-aqua {
    background-color: rgba(0, 70, 58, 0.7);
}

.overlay-violet {
    background-color: rgba(255, 116, 231, 0.8);
}

.overlay-violet-dark {
    background-color: rgba(186, 84, 254, 0.8);
}

.overlay-black {
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay-brown {
    background-color: rgba(68, 38, 1, 0.5);
}

.overlay-text {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.overlay-text h3 {
    font-family: 'Roboto Condensed';
    color: #fff;
    margin: 0;
    font-size: 1em;
}

.overlay-cta {
    align-items: center;
}

.overlay-cta a {
    text-decoration: underline;
    color: #fff;
    font-size: 1em;
    font-family: 'Roboto Condensed';
    text-transform: capitalize;
    
}


/*---------------------------------------------------
 About Section
----------------------------------------------------*/
.about {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
}

.about-image {
    width: 90%;
    height: auto;
    max-width: 600px;
    display: inline-block;
    margin: 0 auto;
}

.about-text {
    margin: 0 1em;
    text-align: left;
}

.about-text h2 {
    color: var(--red);
    text-align: center;
}

.about-text span {
    color: var(--red);
}

.about-text p:nth-of-type(3) {
    margin-bottom: 20px; 
}

/*---------------------------------------------------
 PRO MEMBER
----------------------------------------------------*/
.pro-member {
    padding-top: 40px;
    background-image: url(../images/pro-member.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;
}

.card-wrapper {
    display: inline-block;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0px 15px 0px rgba(0,0,0,0.5);
    padding: 15px;
    margin: 20px 10px;
}

.card-wrapper ul {
    margin: 10px;
    padding: 10px;
    list-style-image: url(../images/arrow-right.png);
    text-align: left;
    font-family: 'Roboto Condensed';
    line-height: 1.2em;
    font-size: 1em;
    text-decoration: none;
}

.card-wrapper a {
    color: var(--red);
}

.card-wrapper li {
    margin: 10px 0;
}

.card-wrapper i {
    color: var(--red);
    margin-right: 5px;
}



/*---------------------------------------------------
 Sponsors
----------------------------------------------------*/
.sponsors {
    padding-top: 40px;
    background-image: url(../images/bg-blank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
}

/*---------------------------------------------------
 About Page - Banner
----------------------------------------------------*/

.about-masthead {
    height: 100vh;
    background: url(../images/about-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 22%;
    
}

.about-masthead h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(255,255,255,0.4);
    color: var(--red);
    font-size: 1.8em;
    letter-spacing: -2px;
    line-height: .8em;
    position: absolute;
    bottom: 10%;
    z-index: 1;
}

.about-masthead h1 span {
    color: #000;
}


/*---------------------------------------------------
 About Page - Tuffman Team section
----------------------------------------------------*/
.tuffman-team {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(../images/bg-blank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
}

.team-member-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: inline-block;
    margin: 0;
    
}

.about-text {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    line-height: 1.2em;
}

.team-head {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
}

.team-head h3 span {
    font-size: 0.8em;
}
.team-head p {
    text-align: justify;
    font-size: 1em;
    padding: 10px;
    line-height: 1.2em;
}

.team-card {
    position: relative;
    max-width: 400px;
    margin: 10px auto;
}

.team-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    margin: 3px 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 15%;
}

.team-head .team-overlay {
    height: 20%;
}

.team-overlay-text h3 {
    color: #fff;
    margin: 10px 5px 0px 5px;
    font-size: 1.5em;
    text-align: left;
    letter-spacing: 1px;
}
/*---------------------------------------------------
 Races Page - Banner
----------------------------------------------------*/

.races-masthead {
    height: 100vh;
    background: url(../images/races-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    
}

.races-masthead h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    color: var(--red);
    font-size: 1.8em;
    letter-spacing: -2px;
    line-height: .8em;
    position: absolute;
    bottom: 10%;
    z-index: 1;
}

.races-masthead h1 span {
    color: #000;
}

/*---------------------------------------------------
 RESULTS Page - Banner
----------------------------------------------------*/

.results-masthead {
    height: 100vh;
    background: url(../images/results-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;
    
}

.results-masthead h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    color: var(--red);
    font-size: 1.8em;
    letter-spacing: -2px;
    line-height: .8em;
    position: absolute;
    bottom: 10%;
    z-index: 1;
}

.results-masthead h1 span {
    color: #000;
}

.tuffman-results {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(../images/bg-blank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
}

/*---------------------------------------------------
 Gallery Page - Banner
----------------------------------------------------*/

.gallery-masthead {
    height: 100vh;
    background: url(../images/gallery-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20%;
    
}

.gallery-masthead h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    color: var(--red);
    font-size: 1.8em;
    letter-spacing: -2px;
    line-height: .8em;
    position: absolute;
    bottom: 10%;
    z-index: 1;
}

.gallery-masthead h1 span {
    color: #000;
}


/*---------------------------------------------------
 Gallery Page - gallery section
----------------------------------------------------*/

.gallery {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(../images/bg-blank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
}

.gallery-cards h2 {
    color: var(--red);
    font-family: 'Agency';
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 0;
}

.thumbnail-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: inline-block;
    margin: 0;
/*    text-align: center;*/
}

.thumbnail {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.thumbnail-overlay {
    position: absolute;
    bottom: 1%;
    left: 50%;
    right: 0;
    background-color: var(--red-transparent2);
    overflow: hidden;
    width: 0;
    height: 100%;
/*    mix-blend-mode: multiply;*/
    transform: skew(-45deg);
    transition: ease-in-out 500ms;
}



.thumbnail:hover .thumbnail-overlay {
    width: 100%;
}

.thumbnail-text {
/*    display: inline-block;*/
    font-size: 20px;
    text-align: right;
    position: absolute;
    top: 80%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%) skew(45deg);
    white-space: nowrap;
}

.thumbnail-text a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    margin: 2px;
    padding: 3px;
    transition: 0.5s ease;
}

.thumbnail-text a:hover {
    background-color: #000;
}


/*---------------------------------------------------
 Contact Us Page - Banner
----------------------------------------------------*/

.contact-masthead {
    height: 70vh;
    background: url(../images/contact-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-masthead h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    margin-left: 10px;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    color: var(--red);
    font-size: 1.8em;
    letter-spacing: -2px;
    line-height: .8em;
    position: absolute;
    bottom: 30%;
    z-index: 1;
}

.contact-container {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(../images/bg-blank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
}

.contact-masthead h1 span {
    color: #000;
}

.contact-wrapper {
    background: rgba(255,255,255,0.8);
}

.contact-info {
    text-align: left;
    margin: 0 auto;
    font-family: 'Roboto Condensed';
    
}


.contact-info h2 {
    margin: 5px 10px;
    color: var(--red);
}

.contact-details {
    list-style: none;
    margin-top: 30px;
}

.contact-details h4 {
    display: inline-block;
    margin: 0;
}

.contact-group {
    display: flex;
    
}

.contact-icon {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--red);
    
}

.phone {
    transform: rotate(90deg)
}

.contact-text {
    display: inline-block;
    font-size: 18px;
}

.contact-text a {
    text-decoration: none;
    color: #000;
}

.contact-icon a {
    text-decoration: none;
    color: var(--red);
}

.location {
    position: relative;
    overflow: hidden;
}

.location-iframe {
    width: 100%;
    height: 300px;
    max-width: 400px;
        
}



/*---------------------------------------------------
 Footer
----------------------------------------------------*/
footer {
    padding: 10px 0 10px;
    text-align: center;
    background-color: #000;
}

.social-icons {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}

.social-icons:hover {
    color: var(--red);
    cursor: pointer;
}

.footer-logo {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

.copy-right {
    font-family: 'Roboto Condensed';
    color: #fff;
    margin-top: 10px;
}

.copy-right h6 {
    margin: 0;
    font-size: 0.8em;
    font-weight: 400;
}


/*---------------------------------------------------
 INDIVIDUAL RACES: GLOBAL
----------------------------------------------------*/

.race-masthead h1 {
    font-family: 'Agency';
    margin-left: 10px;
    color: #fff;
    font-size: 2.5em;
    line-height: 1em;
    letter-spacing: 1px;
    position: absolute;
    bottom: 20%;
}

.race-masthead h1 span {
    font-size: 0.5em;
    line-height: 1em;
}

.header-cta {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
}

.race-brief-container {
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(../images/bg-blank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
}

.card-wrapper p {
    text-align: justify;
    margin: 0;
    margin-bottom: 15px;
    line-height: 1.3em;
    
}

.card-wrapper h3 {
    margin-bottom: 5px;
    color: var(--red);
    letter-spacing: 1px;
}

.brief-card {
    width: 80%;
    max-width: 350px;
}

.brief-card ul {
    list-style: none;
}

.brief-details h4 {
    display: inline-block;
    margin: 0;
}

.brief-group {
    display: flex;
}

.brief-icon {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: var(--red);
    
}

.brief-text {
    display: inline-block;
    font-size: 1em;
}

.icon-flip {
    transform: scaleX(-1);
}


/*---------------------------------------------------
 INDIVIDUAL RACES: TRICITY TRIATHLON
----------------------------------------------------*/

.tricity {
    height: 100vh;
    background: url(../images/tuffman-tricity-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 88%;
}


.goa-banner {
    height: 100vh;
    background: url(../images/tuffman-goa-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.kasauli-banner {
    height: 100vh;
    background: url(../images/tuffman-kasauli-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
}

.jaisalmer-banner {
    height: 100vh;
    background: url(../images/tuffman-jaisalmer-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.andaman-banner {
    height: 100vh;
    background: url(../images/tuffman-andman-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.andaman-overlay {
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
}

.manali-banner {
    height: 100vh;
    background: url(../images/tuffman-manali-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.masthead-black h1 {
    color: #2e2e2e;
}

.gurugram-banner {
    height: 100vh;
    background: url(../images/tuffman-gurugram-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.delhi-hm-banner {
    height: 100vh;
    background: url(../images/tuffman-delhi-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65%;
}

.tricity-stadium {
    height: 100vh;
    background: url(../images/stadium-run-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sponsors-partner h4 {
    margin: 0.4em 0;
    text-align: left;
    font-size: 1em;
    font-family: 'Roboto Condensed';
}

.sponsors-partner h4 span {
    color: var(--red);
}


@supports (grid-area: auto) { 
    
    @media screen and (min-width: 600px){
        .site {
            max-width: none;
        }
        /*-------------------------------
        HEADER
        -------------------------------*/
        .masthead h1 {
            font-size: 52px;
            line-height: 45px;
            
        }
        
        /*-------------------------------
        UPCOMING RACES
        -------------------------------*/
        .races {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 15px;
            margin: 0 10px;
            
        }
        
        .race-card {
            max-width: none;
            margin: 0;
        }
        
        .race-image {
            max-width: none;
            width: 100%; 
            margin: 10px 0; 
        }
        
        .overlay-text h3 {
            font-size: 0.9em;
        }
        
        .overlay-cta a {
            font-size: 0.9em;
            text-transform: capitalize;
        }
        
        
        
        /*-------------------------------
        ABOUT PAGE HEADER
        -------------------------------*/
        .about-masthead h1 {
            font-size: 52px;
            line-height: 45px;
        }
        
        /*-------------------------------
        About Page - Tuffman Team section
        -------------------------------*/
        
        .team {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 15px;
            margin: 0 10px;
            padding: 0 10px;
        }
        
        .team {
            max-width: none;
            margin: 0;
        }
        
        .team-head {
            grid-column: 1/3;
        }
        
        .team-head .team-overlay {
            height: 15%;
        }

        
        .team-member-image {
            max-width: none;
            width: 100%; 
            margin: 0; 
        }
        
         /*-------------------------------
        RACES PAGE HEADER
        -------------------------------*/
        .races-masthead h1 {
            font-size: 52px;
            line-height: 45px;
        }
        
        /*-----------------------------
        RACES PAGE
        ------------------------------*/
        
        .all-races {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 15px;
            margin: 0 10px;
            
        }
        
        /*-------------------------------
        RESULTS PAGE HEADER
        -------------------------------*/
        .results-masthead h1 {
            font-size: 52px;
            line-height: 45px;
        }
        
        /*-------------------------------
        GALLERY PAGE HEADER
        -------------------------------*/
        .gallery-masthead h1 {
            font-size: 52px;
            line-height: 45px;
        }
        
        .gallery-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
            margin: 0 10px;
            
        }
        
        /*-------------------------------
        CONTACT PAGE HEADER
        -------------------------------*/
        .contact-masthead h1 {
            font-size: 52px;
            line-height: 45px;
        }
        
        .contact-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
            margin: 0 10px;
            
        }
        
        /*---------------------------------------------------
         INDIVIDUAL RACES: GLOBAL
        ----------------------------------------------------*/
        .btn-secondary {
            font-size: 1.2em;
        }
        
        .race-intro, .race-facilities, .other-info {
            max-width: none;
            margin: 10px;
        }
        
                
        .race-cards-grid {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        
        .brief-card {
            margin: 10px auto;
        }
        
        
        /*---------------------------------------------------
         INDIVIDUAL RACES: TRICITY TRIATHLON
        ----------------------------------------------------*/
        .race-intro {
            grid-column: 1/3;
            
        }
        .event {
            grid-row: 2/3;
            grid-column: 1/2;
        }
        
        .expo {
            grid-row: 2/3;
            grid-column: 2/3;
        }
        
        .triathlon-card {
            grid-row: 3/4;
            grid-column: 1/2;
        }
        
        .duathlon-card {
            grid-row: 3/4;
        }
        
        .race-facilities, .other-info {
            grid-column: 1/3;
        }
        
        /*---------------------------------------------------
         INDIVIDUAL RACES: TRICITY STADIUM RUN
        ----------------------------------------------------*/
        .stadium-race-instructions, .stadium-race-facilities {
            grid-column: 1/3;
        }
        
    }
    
    @media screen and (min-width: 991px) {
        
        /*-------------------------------
        NAVBAR
        -------------------------------*/
        .nav-toggle-label {
            display: none
        }

        header {
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 1fr auto minmax(800px, 3fr) 1fr;
            grid-template-columns: 1fr auto minmax(800px, 3fr) 1fr;
        }

        .logo {
            -ms-grid-column: 2/3;
            grid-column: 2/3;
        }
        
        .logo img {
            max-width: none;
        }

        nav {
            all:unset;
            -ms-grid-column: 3/4;
            grid-column: 3/4;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        nav ul {
            display: flex;
        }

        nav li {
            margin-left: 3em;
            margin-bottom: 0;
        }

        nav a {
            padding: 0 5px;
            opacity: 1;
            position: relative;
        }

        nav a::before {
            content: '';
            display: block;
            height: 5px;
            background: #e21212;
            position: absolute;
            top: -0.65em; 
            left: 0;
            right: 0;
            transform: scale(0,1);
            transform-origin: left;
            transition: transform ease-in-out 250ms;
        }

        nav a:hover::before {
            transform: scale(1,1);

        }
        
        /*-------------------------------
        HEADER
        -------------------------------*/
        .masthead h1 {
            font-size: 5em;
            line-height: 0.8em;
        }
        
        /*-------------------------------
        UPCOMING RACES
        -------------------------------*/
        .races {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 15px;
            margin: 0 10px;
        }
        
        .race-card {
            margin: 0 auto;
            max-width: 600px;
        }
        
        .race-image {
            margin: 0;
        }
        
        .overlay {
            margin: 3px 0;
        }
        
            
                
        /*-------------------------------
        ABOUT SECTION
        -------------------------------*/
        .about-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        
        
        
        /*-------------------------------
        About Page - Tuffman Team section
        -------------------------------*/
        
        .about-masthead h1 {
            font-size: 5em;
            line-height: 0.8em;
            
        }
        
        .team {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 15px;
            margin: 0 10px;
        }
        
        .team-head {
            grid-column: 1/5;
        }
        .team-card {
            margin: 0 auto;
            
        }
        
        .team-image {
            margin: 0;
        }
        
        /*-----------------------------
        RACES PAGE
        ------------------------------*/
        
        .races-masthead h1 {
            font-size: 5em;
            line-height: 0.8em;
        }
        
        .all-races {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px;
            margin: 0 10px;
            
        }
        
        /*-------------------------------
        RESULTS PAGE
        -------------------------------*/
        .results-masthead h1 {
            font-size: 5em;
            line-height: 0.8em;
        }
        
        /*-------------------------------
        GALLERY PAGE
        -------------------------------*/
        .gallery-masthead h1 {
            font-size: 5em;
            line-height: 0.8em;
/*            left: 40%;*/
            bottom: 40%;
        }
        
        .gallery-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 15px;
            margin: 0 10px;
        }
        
        .thumbnail-image {
            margin: 0;
        }
        
        /*-------------------------------
        CONTACT PAGE
        -------------------------------*/
        .contact-masthead h1 {
            font-size: 5em;
            line-height: 0.8em;
        }
                
        /*-------------------------------
        FOOTER
        -------------------------------*/
        footer {
            text-align: left;
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
        
        .footer-logo {
            grid-column: 1/1;
            display: inline-block;
            margin-top: 0;
            text-align: left;
            order: 1;
        }
                
        .social-icons-group{
            text-align: right;
            margin-right: 20px;
            order: 2;
            margin-top: 12px;
        }
        
        .copy-right {
            grid-column: 1/3;
            order: 3;
            text-align: center;
        }
        
    }
    
    @media screen and (min-width: 1200px) {
        
        .races, .all-races, .gallery-cards, .race-cards-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 15px;
            margin: 0 10px;
        }
        
        .race-masthead h1 {
            font-size: 6em;
        }
        
        .btn-secondary {
            font-size: 1.4em;
            padding: 15px 30px;
        }
        
        /*---------------------------------------------------
         INDIVIDUAL RACES: TRICITY TRIATHLON
        ----------------------------------------------------*/
        
        
        .triathlon-card {
            grid-row: 2/3;
            grid-column: 3/4;
        }
        
        .duathlon-card {
            grid-row: 2/3;
            grid-column: 4/5;
        }
        
        /*---------------------------------------------------
         INDIVIDUAL RACES: TRICITY STADIUM RUN
        ----------------------------------------------------*/
        .stadium-race-instructions {
            grid-column: 1/3;
        }
        
        .stadium-race-facilities {
            grid-column: 3/5;
        }
        /*---------------------------------------------------
         INDIVIDUAL RACES: GLOBAL
        ----------------------------------------------------*/
                
        .other-info {
            grid-column: 3/5;
        }
        
        .race-intro {
            grid-row: 1/2;
            grid-column: 1/3;
                    
        }
        .event {
            grid-row: 1/2;
            grid-column: 3/4;
            
        }
        
        .expo {
            grid-row: 1/2;
            grid-column: 4/5;
            
        }
    }
}

